<ion-header >
  <ion-toolbar>
    <ion-button color="light" slot="end">عودة</ion-button>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label class="ion-no-margin">
        <ul>
          <li>
            <div class="text-md">محمد محمود</div>
          </li>
          <li>
            <div class="text-note">mecedess amg</div>
          </li>

        </ul>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <div class="box">
    

    <!-- ARHAB note message -->
    <div class="note-message">
      <div class="note-message-content">
        <div>
          <div class="text-md ion-margin-bottom">
            مرحبا محمد
          </div>
          <div class="text-note ion-margin-bottom">
            معلومات عن الرحلة الرحلات.  دردشة تأكيد رفض الطلب المطلوبة محمد محمود
          </div>
          <div>
            <div class="text-md text-red">
              فريق أرحب
            </div>
            <div class="text-note">
              معلومات عن الرحلة الرحلات.  درحمد محمود
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex item-center ion-justify-content-start ion-padding">
      
      <div>
        <div class="flex ion-align-items-end">
          <div class="profile-img">
            <img src="../../../../../assets/avatar.png" alt="">
          </div>
          <div class="sended-message">
            <div>124 ريال السعر ساعة الانطلاق بدأ الرحلة عدد المقاعد المتاحة. المحجوزة قائمة الحجوزات حسب الرحلة عدد 1234</div>
          </div>
        </div>

        <div class="flex ion-align-items-start ion-justify-content-start timestamp">
          <ion-icon name="checkmark-done-outline"></ion-icon>
          <div class="">
            14/àà
          </div>
        </div>

      </div>

    </div>
    <div class="flex item-center ion-justify-content-end ion-padding">
      <div>
        <div class="flex ion-align-items-end">
          <div class="received-message">
            <div>124 ريال السعر ساعة الانطلاق بدأ الرحلة عدد المقاعد المتاحة. المحجوزة قائمة الحجوزات حسب الرحلة عدد 1234</div>
          </div>
          <div class="profile-img">
            <img src="../../../../../assets/avatar.png" alt="">
          </div>
        </div>

        <div class="flex ion-align-items-start ion-justify-content-end timestamp">
          <div class="">
            1234
          </div>
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </div>

      </div>
    </div>
    <div class="flex item-center ion-justify-content-end ion-padding">
      <div>
        <div class="flex ion-align-items-end">
          <div class="received-message">
            <div>124 ريال السعر ساعة الانطلاق بدأ الرحلة عدد المقاعد المتاحة. المحجوزة قائمة الحجوزات حسب الرحلة عدد 1234</div>
          </div>
          <div class="profile-img">
            <img src="../../../../../assets/avatar.png" alt="">
          </div>
        </div>

        <div class="flex ion-align-items-start ion-justify-content-end timestamp">
          <div class="">
            1234
          </div>
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </div>

      </div>
    </div>
    

  </div>
  <div class="outer-box">
    <div class="inner-box">

      <label >
        إرسال
      </label>
      <input  placeholder="اكتب رسالة">
    </div>
  </div>
</ion-content> 