<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button>
        <ion-icon name="apps" color="primary"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="warning" mode="ios">
    <ion-card-content class="ion-no-padding">

      <div class="ion-text-center ion-padding">
        <div class="text-note">
          مرحبا بكم في تطبيقنا <br>
          أرِحب ، بدیلك الجدید للسفر
        </div>
        <hr>
      </div>

      <ion-card mode="ios">

        <ion-card-content>
          <div [routerLink]="['/']" id="box">
            <div class="flex items-center">
              <ion-icon name="search" class="ion-margin-end text-note text-lg"></ion-icon>
              <div>
                <div class="text-lg">إبحث عن رحلة</div>
                <div class="text-note">
                  حدد نقطة الوصول
                </div>
              </div>
            </div>

            <div id="icon_1">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
          </div>
        </ion-card-content>

      </ion-card>
      <ion-card mode="ios" color="primary">

        <ion-card-content>
          <div [routerLink]="['/']" id="box">
            <div class="flex items-center">
              <ion-icon name="car-sport" class="ion-margin-end text-note-white text-lg"></ion-icon>
              <div>
                <div class="text-lg">أضف رحلة</div>
                <div class="text-note-white">
                  حدد نقطة الوصول
                </div>
              </div>
            </div>

            <div id="icon_2">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
          </div>
        </ion-card-content>

      </ion-card>



    </ion-card-content>
  </ion-card>




  <ion-item detail="false" class="ion-text-center">
    <ion-label>
      أحدث الإعلانات
    </ion-label>
  </ion-item>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>
        <span class="text-note">mercedess</span>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="pin" slot="start" color="primary"></ion-icon>
          <ion-label>jeddeh mekkah</ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <div class="flex items-center ion-justify-content-between ion-margin-bottom ion-margin-top">
        <span class="text-note">عدد المقاعد المتاحة</span>
        <div class="badge"> 5 مقاعد</div>
      </div>
      <div class="flex items-center ion-justify-content-between ion-margin-top">
        <div>
          <div id="active_icon">
            <ion-icon name="musical-note-outline" color="dark" class="text-lg"></ion-icon>
          </div>
          <div class="ion-text-center text-note ion-margin-top">
            موسيقى
          </div>
        </div>

        <div>
          <div id="inactive_icon">
            <ion-icon name="logo-no-smoking" color="dark" class="text-lg"></ion-icon>
          </div>
          <div class="ion-text-center text-note ion-margin-top">
            التدخين
          </div>
        </div>

        <div>
          <div id="active_icon">
            <ion-icon name="paw-outline" color="dark" class="text-lg"></ion-icon>
          </div>
          <div class="ion-text-center text-note ion-margin-top">
            الحيوانات
          </div>
        </div>

        <div>
          <div id="inactive_icon">
            <ion-icon name="chatbubbles-outline" color="dark" class="text-lg"></ion-icon>
          </div>
          <div class="ion-text-center text-note ion-margin-top">
            دردشة
          </div>
        </div>

      </div>
    </ion-card-content>
  </ion-card>


  <ion-card mode="ios" color="primary">
   
    <ion-card-content>
      

      <ion-card mode="ios">

        <ion-card-content>
          <div [routerLink]="['/']" id="box">
            <div class="flex items-center">
              <ion-icon name="navigate-outline" class="ion-margin-end text-note text-lg"></ion-icon>
              <div>
                <div class="text-lg">Mekkah, jeddah privince</div>
                <div class="text-note">
                  نقطة الانطلاق
                </div>
              </div>
            </div>
          </div>
        </ion-card-content>

      </ion-card>
      <ion-card mode="ios" color="warning">

        <ion-card-content>
          <div [routerLink]="['/']" id="box">
            <div class="flex items-center">
              <ion-icon name="pin-outline" class="ion-margin-end text-note text-lg"></ion-icon>
              <div>
                <div class="text-lg">Riadh province</div>
                <div class="text-note">
                   نقطة الوصول
                </div>
              </div>
            </div>
          </div>
        </ion-card-content>

      </ion-card>

      <div class="ion-text-center ion-padding">
        <div class="text-note flex items-center ion-justify-content-between">
          <ion-icon name="timer" color="light" class="text-lg"></ion-icon>
          <span class="text-note-white">الوقت المتوقع للوصول</span>
        </div>
        <hr>
        <div class="text-lg">
          2 heures 5 min
        </div>
      </div>
    </ion-card-content>
  </ion-card>



  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary" mode="ios">
          <ion-card-content>
            <div>
              <h1 class="text-lg">اليوم</h1>
              <hr>
              <div class="text-xl">14:00</div>
              <!-- <div class="text-note-white ion-text-right">متوسط ​​مدة الوصول</div>
              <div class="text-note-white">14:00</div> -->
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card color="warning" mode="ios">
          <ion-card-content class="ion-text-center">

            <div class="flex justify-start items-start">
              <span class="text-note">SAR/</span>
              <div class="text-xl">
                124
              </div>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card mode="ios">
          <ion-card-content class="ion-no-padding ion-text-center ion-padding-bottom">
            <div class="ion-padding" id="avatar">
              <img src="../../../assets/avatar.png" alt="">
            </div>
            <div class="text-lg">
              Mohamed
            </div>
            <div class="text-note">
              37 years
            </div>
            <div>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div id="car_box" class="ion-text-center">
    <div class="ion-padding flex items-center ion-justify-content-center">
      <img src="../../../assets/default-car.png" alt="">
    </div>
    <div class="ion-margin-top">
      <div class="text-xl">Mecedes amg 2021</div>
      <div class="text-note">
        12 TY 56
      </div>
    </div>
  </div>
  <ion-button expand="block" size="large" color="primary" mode="ios">
    إحجز الان
  </ion-button>

</ion-content>