<ion-content [fullscreen]="true" color="warning">
  <ion-card mode="ios" id="wrapper">
    <ion-card-content>

      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button>
              <ion-icon name="notifications-outline" color="primary" class="text-xl"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{ title }}</ion-title>
          <ion-buttons slot="end">
            <ion-menu-button>
              <ion-icon name="apps" color="primary" class="text-xl"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
        <ion-icon name="car" slot="start" size="small" color="dark"></ion-icon>
        <ion-label>
          <ul>
            <li>
              <div class="text-xl">{{title}}</div>
            </li>
            <li>
              <div class="text-note">{{subTitle}}</div>
            </li>

          </ul>
        </ion-label>
      </ion-item>

      <ion-card mode="ios">
        <ion-card-content>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../../../assets/avatar.png">
            </ion-thumbnail>
            <ion-label>
              <ul>
                <li>
                  <div class="text-md">captain khalil bousnina</div>
                </li>
                <li>
                  <div class="text-note"> 30 سنة</div>
                </li>
                <li>
                  <div class="text-note"> Mercedess cla 2021</div>
                </li>
    
              </ul>
            </ion-label>
          </ion-item>

          <div class="flex items-center ion-justify-content-between ion-margin-bottom ion-margin-top">
            <span class="text-note">عدد المقاعد المطلوبة</span>
            <div class="badge-available"> 1 مقاعد</div>
          </div>

          <div class="flex items-center ion-justify-content-between ion-margin-top">
            <!-- <div class="bg-primary ion-padding text-note-white">
              تأكيد
            </div>
            
            <div class="bg-danger ion-padding text-note-white">
              رفض
            </div> -->

            <div class="bg-success ion-padding text-note-white">
              دفع
            </div>
            <div class="bg-light ion-padding text-note">
              دردشة
              <!-- <ion-icon name="chatbubbles-outline" color="primary" class="text-md"></ion-icon> -->
            </div>
            <div class="bg-warning ion-padding text-note">
              تقييم
            </div>
          </div>

         
        </ion-card-content>
      </ion-card>
     


    </ion-card-content>
  </ion-card>

</ion-content>