<ion-app>
  <app-loading-spinner *ngIf="spinner$ | async"></app-loading-spinner>
  <div *ngIf="errorMessages$ | async as errorMessages">
    <app-display-error [errorMessages]="errorMessages"></app-display-error>
  </div>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content *ngIf="authenticatedUser$ | async as authUser">
        <div>
          <div id="menu-header">
          </div>
          <div id="header-content">
            <img src="../assets/avatar.png" alt="user-avatar">
            <ion-label class="text-left">
              
              <h2>{{ authUser.user.username }}</h2>
              <p> {{ authUser.user.email }}</p>
              
            </ion-label>
          </div>
          <ion-list id="inbox-list" lines="none" *ngIf="authUser.user.userRole === 'passenger'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of passengerPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-list id="inbox-list" lines="none" *ngIf="authUser.user.userRole === 'driver'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of driverPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </ion-content>
      <ion-content *ngIf="!(authenticatedUser$ | async )">
        <!-- auth driver interface -->
        <ion-card id="auth_card" mode="ios">
          <ion-card-header>
            <ion-card-subtitle>
              الاستمرار كسائق
            </ion-card-subtitle>
            <ion-card-title>

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of authenticationPages; let i = index">
              <ion-card id="auth_card">

                <ion-card-content>
                  <div [routerLink]="[p.url]" id="box">
                    <div id="icon">
                      <ion-icon [name]="p.icon + '-outline'" color="primary"></ion-icon>
                    </div>
                    <span>{{ p.title }}</span>
                  </div>
                </ion-card-content>

              </ion-card>
            </ion-menu-toggle>

          </ion-card-content>

        </ion-card>

        <!-- auth passenger interface -->
        <ion-card id="auth_card" mode="ios" color="primary">
          <ion-card-header>
            <ion-card-subtitle>
              الاستمرار كراكب
            </ion-card-subtitle>
            <ion-card-title>

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of authenticationPages; let i = index">
              <ion-card id="auth_card">

                <ion-card-content>
                  <div [routerLink]="[p.url]" id="box">
                    <div id="icon">
                      <ion-icon [name]="p.icon + '-outline'" color="primary"></ion-icon>
                    </div>
                    <span>{{ p.title }}</span>
                  </div>
                </ion-card-content>

              </ion-card>
            </ion-menu-toggle>
          </ion-card-content>
        </ion-card>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>